body {
    margin: 0;
    box-sizing: border-box;
}

/* Below fixes sizing issue where the header is off the page on the right side */
*,
*:before,
*:after {
    box-sizing: inherit;
}

#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1); /* Transparent background */
    backdrop-filter: blur(2px); /* Adding blur effect */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    color: #fff;
    overflow: hidden; /* Prevents overflow issues */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0; /* Prevents the logo from shrinking */
}

nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #71CE52; /* Matching the green color from the image */
}

.header-button {
    background-color: #71CE52; /* Matching the green color from the image */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.25rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Added box shadow */
    flex-shrink: 0; /* Prevents the button from shrinking */
}
  
.header-button:hover {
    background-color: #4ba346b7;
    transform: translateY(-2px); /* Added hover effect */
}