.section {
    display: flex;
    width:100%;
    flex-direction: column;
    gap: 50px;
    padding: 20px;
    background-color: #0E1011F2;
    margin-top: 600px;
}

.hero-section {
    padding: 100px 20px; /* Ensure the hero section has enough padding/margin */
    /* or */
    margin-bottom: 100px; /* Add margin to push the section down */
}

.sub-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 0;
}

.text {
    max-width: 50%;
    color: white;
    padding-left: 20px;
    margin-right: 50px;
}

.text h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.text p {
    font-size: 16px;
}

.image {
    width: 30%;
}

.image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}